@using BS.Model
@model List<BS.Presentation.Models.Cart>
@{
    ViewBag.Title = "EditCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalAmount = Model.Sum(x => x.TotalAmount );
}

<h2 class="text-center text-danger">Edit Giỏ hàng</h2>


<div class="col-md-12">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th>Hình ảnh</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookId</td>
                <td>@item.Title</td>
                <td><img src="@Url.Content("/ImagesBook/" + item.ImageUrl)" style="width:100px" /></td>
                <td>@string.Format("{0:0,0}", item.Price) đ</td>
                @using (Html.BeginForm("UpdateCart", "Cart", new { @bookId = item.BookId }))
                {
                    <td>@Html.TextBox("txtQuantity", item.Quantity)</td>
                    <td>@string.Format("{0:0,0}", item.TotalAmount) đ</td>
                    <td><input type="submit" value="Cập nhật" class="btn btn-warning" /></td>
                    <td>@Html.ActionLink("Xóa", "DeleteCart", new { @bookId = item.BookId }, new { @class = "btn btn-primary" })</td>
                }
            </tr>
        }

    </table>
    <h2>Tổng thành tiền = <span style="color:red;">@string.Format("{0:0,0}", totalAmount) đ</span></h2>
    <a href="@Url.Action("Cart","Cart")" class="btn btn-primary">Quay về giỏ hàng</a>
</div>

