@model BS.Model.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Đăng nhập</h4>
    <h3 class="text-center text-info">@ViewBag.MessageLogin</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="col-md-12">
        <span class="control-label col-md-4">Tên đăng nhập</span>
        <input name="UserName" type="text" class="form-control" />
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <br />


    <div class="col-md-12">
        <span class="control-label col-md-4">Mật khẩu</span>
        <input name="Password" type="password" class="form-control" />
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <br />


    <div class="col-md-12 text-center">
        <input type="submit" value="Đăng nhập" class="btn btn-success" />
        <span>Chưa có tài khoản rồi? </span><a href="#">Đăng ký</a>
    </div>
}

