@model BS.Model.User

@{
    ViewBag.Title = "Register User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Đăng ký tài khoản mới</h4>  
    <h3 class="text-center text-info">@ViewBag.MessageRegister</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="col-md-12">
        <span class="control-label col-md-4">Tên đăng nhập <span style="color:red">*</span></span>
        <input name="UserName" type="text" class="form-control" />
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <br />


    <div class="col-md-12">
        <span class="control-label col-md-4">Mật khẩu <span style="color:red">*</span></span>
        <input name="Password" type="password" class="form-control" />
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <br />


    <div class="col-md-12">
        <span class="control-label col-md-4">Họ tên <span style="color:red">*</span></span>
        <input name="Name" type="text" class="form-control" />
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <br />


    <div class="col-md-12">
        <span class="control-label col-md-4">Ngày sinh <span style="color:red">*</span></span>
        <input name="DateOfBirth" type="date" class="form-control" />
        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
    </div>
    <br />


    <div class="col-md-12">
        <span class="control-label col-md-4">Giới tính</span>
        <select name="Gender" class="form-control">
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
            <option value="2">Khác</option>
        </select>
    </div>
    <br />


    <div class="col-md-12">
        <span class="control-label col-md-4">Điện thoại</span>
        <input name="PhoneNumber" type="text" class="form-control" />
    </div>
    <br />



    <div class="col-md-12">
        <span class="control-label col-md-4">Email</span>
        <input name="Email" type="text" class="form-control" />
    </div>
    <br />


    <div class="col-md-12">
        <span class="control-label col-md-4">Địa chỉ</span>
        <input name="Address" type="text" class="form-control" />
    </div>
    <br />
    <div class="col-md-12 text-center">
        <input type="submit" value="Đăng ký" class="btn btn-success" />
        <span>Có tài khoản rồi? </span><a href="@Url.Action("Login","User")">Đăng nhập</a>
    </div>
}

